.standard-accordian-header{
    margin:5;
    background-color:#DDDDDD;
}

.standard-accordian-header-label{
    margin:5;
    font-size: 19;
}

.availability-standard-section-link-icon{
    width:40;
}

.standard-account{
    margin: 15;
}

.standard-accordion-section-link-checkbox{
    font-size: 25;
}

.standard-accordion-all-row-50{
    width: 50%;
}