.day-entry {margin-bottom:1;}
.standard-accordion-header {background-color:#fff;padding:10 5;font-family: 'MyriadPro-Light';font-size: 21;color:#2499AA;}
.standard-account {padding: 0 0 25 40;background-color:#fff;}
.standard-accordion-input-row {margin-bottom:15;font-size:16;}
.standard-accordion-textfield {width:200;horizontal-align:left;}
.standard-accordion-label {color:#999;margin-bottom:2;}
.standard-accordion-row {color:#333;text-align:left;}
.arrow-icon {width:30;margin-right:5;}