.standard-accordian-header{
    margin:5;
    background-color:#DDDDDD;
}

.standard-accordian-header-label{
    margin:5;
    font-size: 19;
}

.availability-standard-section-link-icon{
    width:40;
}

.terms-account{
    margin: 15;
}