.travel-accordian-header{
    margin:5;
    background-color:#DDDDDD;
}

.travel-accordian-header-label{
    margin:5;
    font-size: 19;
    width: 72%;
}

.availability-travel-section-link-icon{
    width:40;
}

.travel-account{
    margin: 15;
}

.travel-accordian-header-delete{
    float: right;
}

.travel-accordion-all-row-50{
    width: 50%;
}