.travel-entry {margin-bottom:1;}
.travel-accordion-header {background-color:#fff;padding:10 5;font-family: 'MyriadPro-Light';font-size: 21;color:#2499AA;}
.travel-account {padding: 0 0 25 40;background-color:#fff;}
.travel-accordion-input-row {margin-bottom:15;font-size:16;}
.travel-accordion-textfield {max-width:300;horizontal-align:left;}
.travel-accordion-label {color:#999;margin-bottom:2;}
.travel-accordion-row {color:#333;text-align:left;}
.arrow-icon {width:30;margin-right:5;}
.travel-delete-icon {margin-left:20;width:30;color:#777;}