.summary-stat-number {
    font-size: 44;
    text-align: center;
}

.summary-stat-label {
    font-size: 12;
    text-align: center;
}

.pending-appointment-button {
    font-size: 10;
    width: 80%;
    margin-top:20;
}


.info-box {
    
}

