.summary-stat-number {
    font-size: 44;
    text-align: center;
}

.summary-stat-label {
    font-size: 12;
    text-align: center;
}

.pending-appointment-button {
    font-size: 10;
    width: 80%;
    margin-top:20;
}


.info-box {
    
}

.info-table {
    background-color:#fff;
}



.info-table-label {
	width: 115;
    background-color: #F8F8F8;
    padding:8;
}


.info-table-text {
    padding:8;
}

.info-table-divider {
    height: 1;
    width: 100%;
    background-color: #eee;
}