.screening-account {
    
}

.screening-section-header {
    font-size: 16;color: #3EC3D6;text-transform: uppercase;font-weight: bold;padding:20 15;
}

.screening-section-divider {
    background-color: #3EC3D6;
    height:1;
}

.screening-input-row {
	background-color:#fff;margin-bottom:1;padding:10 15;
}

.screening-label {
    font-size: 13;color: #bbb;margin-bottom:3;
}

.screening-textfield {
    font-size:17;
    color:#444;
}

.screening-section-link-label{
    width: 80%;
    white-space: normal;
    font-size: 17;
    color:#444;
}

.checkbox-image {margin-right:10;}