.screening-summary {width:100%;padding:20 0 20 0;background-color:#777;background-image: url('~/images/pattern-triangle-sm.png');color:#fff;text-align:center;}

.screening-stat-number {
    font-size:54;
    font-family: 'MyriadPro-Light';
    margin-bottom:5;
    height:54;
}

.screening-stat-label {
    font-size:12;
    text-transform:uppercase;
}

.screening-wrapper {margin:10;}