.message-wrapper {
    background-color:#eaeaea;
}

.message-row {
    padding:15 10;
    margin-bottom:1;
}

.message-read {
    opacity:0.75;
    background-color:#F3F3F3;
}

.message-unread {
    background-color:#fdfdfd;
    color:#000;
}

.message-row-thumbnail {
    border-radius: 100;
    width:45;
    height:45;
    border-width:1;
    border-color:#F3F3F3; 
    margin-right:10;
}

.message-row-name {
    font-size: 18;
}

.message-row-message{
    font-size:16;
    margin-bottom:3;   
}

.message-row-message-time{
    font-size:12;
    color:#aaa;
}

.new-message {
    font-size:9;
    background-color:#3EC3D6;
    color:#fff;
    border-radius:10;
    margin-left:5;
    padding:2 5;
}