/*@import url('~/components/appointments/appointments.css');*/

.client-row {
    background-color:#fcfcfc;
    margin-bottom: 0;
    padding:12 15;
}

.client-row-icon-approved {
    width:12;
    height:12;
    border-radius:20;
    background-color:#5BB98C;
}

.client-row-icon-pending {
    width:12;
    height:12;
    border-radius:20;
    border-width:1;
    border-color:#ccc;
}

.client-row-icon-rejected {
    width:12;
    height:12;
    border-radius:20;
    background-color:#FC4545;
}

.client-row-icon-blacklisted {
    color:#000;
    font-size:28;
}

.client-row-thumbnail {
  	border-radius: 100;
  	width:55;
  	height:55;
  	border-width:1;
  	border-color:#efefef; 
  	margin-right:10;
}

.client-row-name {
  	font-size: 22;
}

.client-row-appointment {
    font-size:12;
  	color:#999;
}

.client-row-message{
    font-size:12;
  	color:#999;
    text-align: left;
}

.client-row-noshow {
    font-size:12;
  	color:#FF7F00;
}


.client-row-status-approved {
    background-color:#5BB98C;
    color:#fff;
    width:65;
    text-align:center;
    border-radius:6;
    font-size:11;
    padding: 4 0;
    text-transform: uppercase;
}
/*
.client-row-status-pending {
    
}

.client-row-status-whitelist {
    
}
*/
.client-row-status-blacklist {
    color: #ff0000;
}
/*
.client-row-status-rejected {
    
}
*/
.client-row-status-noshow {
    color: #ffa500;
}

.client-options {
    color:#fff;
    background-color:#444;
}

.client-options-button {
    text-align:center;
    height:60;
    margin: 0 1 0 0;
    background-color:#555;
}

.client-options-label {
    font-size:11;
    color:#fff;
    text-transform: uppercase;
    margin-top:11;
    opacity:0.35;
}

.client-options-text {
    font-size:17;
    text-align:center;
}

.client-row-message-time{
    font-size:12;
  	color:#999;
    text-align: right;
}

.new-messages-name{
   	color: #000;
    font-weight: bolder;
}

.new-messages{
   	color: #000;
}