.message-wrapper {
    background-color:#E8EAE9;
}

.message-row {
    padding:10;
    margin-bottom:1;
}

.message-read {
    opacity:0.75;
    background-color:#F6F8F7;
}

.message-unread {
    background-color:#ECEEED;
    color:#000;
}

.message-row-thumbnail {
    border-radius: 100;
    width:60;
    height:60;
    border-width:1;
    border-color:#eee; 
}

.message-row-name {
    font-size: 18;
    margin-bottom:4;
    color:#111;
}

.message-row-message{
    font-size:16;
    margin-bottom:3;
    color:#666;
}

.message-row-message-time{
    font-size:13;
    color:#999;
}

.new-message {
    font-size:9;
    background-color:#3EC3D6;
    color:#fff;
    border-radius:10;
    margin-left:5;
    padding:2 5;
}