.background-wrapper {margin:0;}
.background-title {font-size:28;font-family: 'MyriadPro-Light';margin-bottom:5;}
.matches-text {font-size:18;font-family: 'MyriadPro-Light';margin-bottom:20;}

.sex-offender-row {margin-bottom:1;padding:15;font-size:17;background-color:#fff;}
.sex-offender-photo {width:85;margin-right:15;}

.sex-offender-name {font-size:21;font-family: 'MyriadPro-Light';margin-bottom:6;}