.client-row {
    background-color:#fff;
    margin-bottom: 1;
    padding:7;
}

.client-row-thumbnail {
  border-radius: 100;
  width:50;
  height:50;
  background-repeat: no-repeat;
  border-width:1;
  border-color:#efefef;
}

.client-row-name {
  font-size: 20;
}

.client-row-appointment {
  font-size:12;
  color:#bbb;
}