@import url('~/components/appointmentDetails/tabs/details/details.css');

.location-header{
    background-color: #555;
    width: 100%;
    padding: 5;
}

.location-header-title{
    color: #FFF;
    margin-left: 5;
    width: 88%;
}

.location-close-button{
    float: right;
    width: 20;
}

.appointment-input-row{
    margin: 20 10 20 10;
}

.appointment-textlabel{
    font-size: 12;
    white-space: normal;
    color: #CCC;
}

.location-sub-header{
    background-color: #C7F1F4;
    padding: 10;
    font-size: 12;
}