
.client-summary {
    text-align:center;
    padding-bottom:20;
    color:#fff;
}
    
.appointment-button {
    font-size: 12;
    background-color:#ACE8EE;
    width:100%;
    margin-bottom:0;
    

}


.summary-stat-number {
    font-size:54;
    font-family: 'MyriadPro-Light';
    margin-bottom:5;
    height:54;
}

.summary-stat-label {
    font-size:12;
    text-transform:uppercase;
}


.client-profile-wrapper {padding:15;}
.client-profile-head {width:100%;padding-top:25;background-color:#666;background-image: url('~/images/pattern-triangle-sm.png');text-align:center;color:#fff;}


.client-profile-box {margin-bottom: 20;border-width:1;border-radius:3;border-color:#ddd;background-color:#fff;}



.client-profile-top-thumbnail {border-radius: 100;
  width:115;
  height:115;
  border-width:3;
  border-color:#fff;margin-bottom:10;  }



.info-table {
    background-color:#fff;
    margin: 0 10 10 10;
}

.info-box-title {
    padding:8;
    font-size:14;
    background-color:#ddd;
    color:#555;
    margin: 0 10 0 10;
}

.section-title {
    padding:13;
    font-size:14;
    background-color:#777;
    color:#fff;
}

.info-table-label {
	width: 150;
    padding:15 0 15 15;  
    background-color:#fafafa;
}

.info-table-text {
    padding:15 0 15 15;    
    width:100%;
}

.info-table-divider {
    height: 1;
    width: 100%;
    background-color: #f1f1f1;
}


