.client-profile-head {width:100%;padding-top:25;background-color:#666;background-image: url('~/images/pattern-circles-light.png');text-align:center;color:#fff;}
.client-profile-top-thumbnail {border-radius: 100;width:115;height:115;border-width:1;border-color:#ccc;margin-bottom:10;background-repeat:no-repeat;background-size:contain;}

.client-summary {text-align:center;padding-bottom:20;color:#fff;}
.summary-stat-number {font-size:54;font-family: 'MyriadPro-Light';margin-bottom:5;height:54;}
.summary-stat-label {font-size:12;text-transform:uppercase;}

.info-table {background-color:#fff;}
.info-box-title {font-size:15;margin:20 0;text-align:center; color:#999;text-transform:uppercase;}
.info-table-label {width: 125;padding:15 0 15 15; color:#aaa;}
.info-table-text {padding:15 0 15 15; width:100%;}
.info-table-divider {height: 1; width: 100%;background-color: #f1f1f1;}

.client-options {padding:5;}
.approve-button {font-size:21;color:#fff;background-color:#3EC3D6;height:44;margin-right:5;border-radius:3;padding-top:6;text-align:center;}
.reject-button {font-size:21;height:44;background-color:#999;margin-right:5;border-radius:3;text-align:center;color: #fff;padding-top:6;}
.delete-button {font-size:26;height:44;color:#fff;background-color:#999;border-radius:3;text-align:center;padding-top:5;width:100%;}

.section-title {width:100%;padding:20 0 20 0;background-color:#666;background-image: url('~/images/pattern-circles-light.png');color:#fff;text-align:center;}

.tags-box {margin-bottom:20;}
.tag {background-color:#3EC3D6;color:#fff;}