

.notification-header {
    font-size: 16;color: #3EC3D6;text-transform: uppercase;font-weight: bold;padding:20 15;
}

.notification-divider {
    background-color: #3EC3D6;
    height:1;
}

.notification-row {
	background-color:#fff;margin-bottom:1;padding:10 15;color:#444;font-size:17;
}

.notification-label {
    font-size: 13;color: #bbb;margin-bottom:3;
}

.notification-switch{
    color: rgb(62,195,214);
    background-color: rgb(221,221,221);
}