.appointment-calendar-date {
    font-size:20;
    margin:10;
    text-align:center;
    color:#999;
}

.appointment-row {
    vertical-align: center;
    background-color: #fff;
    padding: 12 0;
    margin:0 0 1 0;
}

.appointment-status {
    border-radius:100;
    width:30;
    height:30;
    padding:7;
    font-size:16;
}

.appointment-confirmed {
    background-color:#5BB98C;
    color:#fff;
}

.appointment-pending {
    background-color:#fafafa;
    color:#aaa;
}

.appointment-cancelled {
    background-color:#FC4545;
    color:#fff;
}

.appointment-time-details {
    horizontal-align: center;
}
.appointment-time {
    font-size: 18;
    text-align: right;
}

.appointment-length {
    font-size: 12;
    text-align: right;
}

.row-client-name {
    font-size: 20;
}

.row-appointment-location {
    font-size: 14;
    color:#bbb;
}

.new-client {
    font-size: 11;
    background-color:#FFFFBF;
    margin-left:3;
    padding:2;
    border-radius:2;
}

.appointment-filtering {
    background-color:#ddd;
}

.appointment-filter-button {
    text-align:center;
    padding-top:15;
    margin:1;
    background-color:#eee;
}

.button-active {
    background-color:#666;
    color:#fff;
}

.appointment-filter-icon {
    font-size:24;
}