.drawer-menu-content {
    background-color: #222;
    color: #fff;
    font-family: 'MyriadPro-Light';
}

.drawer-top-area {
    padding:15 0 0 10;
    font-size:19;
    color:#666;    
}

.profile-thumbnail {
  border-radius: 100;
  width:45;
  height:45;
  border-width:1;
  border-color:#545454;  
    background-repeat:no-repeat;
  background-size:contain;  
    margin-right:20;
    margin-left:15;
}

.drawer-nav-area {
    padding:10 0;
}

.drawer-nav-item {
    padding: 5 10;
    font-size: 19;
    opacity: 0.7;
}

.nav-icon {
    font-size:36;
    opacity:0.3;
    margin-right:0 15;
}

.nav-divider {
    background-color:#333;
    height:1;
    margin: 10 0;
}


.section-type-row {
    margin-left: 25;
}

.divider-line {
    width: 100%;
    margin-top: 10;
    margin-bottom: 10;
    height: 1;
    background-color: #CCCCCC;
}
