.drawer-menu-content {
    background-color: #1B1C25;
    color: #fff;
    font-family: 'MyriadPro-Light';
}

.drawer-top-area {
    background-color:#14151B;
    padding:25 0 25 10;
    font-size:19;
    color:#646569;    
}

.profile-thumbnail {
  border-radius: 100;
  width:50;
  height:50;
  border-width:3;
  border-color:#545454;    
}

.drawer-nav-area {
    padding:10;
}

.drawer-nav-item {
    padding: 10 0;
    font-size: 21;
    opacity: 0.7;
}

.nav-icon {
    font-size:28;
    opacity:0.4;
}

.nav-divider {
    background-color:#22232E;
    height:1;
    margin: 10 0;
}


.section-type-row {
    margin-left: 25;
}

.divider-line {
    width: 100%;
    margin-top: 10;
    margin-bottom: 10;
    height: 1;
    background-color: #CCCCCC;
}
