.drawer-menu-content {
    padding-top: 15;
    padding-left: 15;
    padding-right: 15;
    background-color: blue;
    color: white;
    font-size: 20;
}

.section-type-header {
    text-align: left;
    width: 100%;
}

.section-type-row {
    margin-left: 25;
}

.divider-line {
    width: 100%;
    margin-top: 10;
    margin-bottom: 10;
    height: 1;
    background-color: #CCCCCC;
}
