.help-faq-section-link-icon{
    width: 40;
}

.faq-row{
    margin: 5;
    background-color: #FFF;
}

.help-faq-header{
    margin:5;
    background-color: #FFF;
}

.help-faq-header-label{
    margin:5;
    font-size: 19;
}

.standard-account{
    margin: 15;
}

.faq-accordion-description{
    white-space: normal;
    margin-left:25;
}